---
Checks:
# Enable all checks
  - '*'
# Remove oddly specific groups
  - '-altera*'
  - '-fuchsia*'
  - '-llvmlibc*'
# Remove entries that contain a given expression
  - '-*namespace-comment*'
# Remove entries ending with a given expression
  - '-*magic-numbers'
  - '-*narrowing-conversions'
# Remove individual entries
  - '-modernize-use-nodiscard'
  - '-modernize-use-trailing-return-type'
  - '-readability-math-missing-parentheses'
  - '-readability-identifier-length'
  - '-readability-use-anyofallof'
  - '-hicpp-signed-bitwise'
  - '-cppcoreguidelines-pro-type-member-init'
  - '-misc-no-recursion'
  - '-readability-simplify-boolean-expr'
  - '-llvm-include-order'
# Remove symlinked entries
  - '-cert-arr39-c'
  - '-cert-con36-c'
  - '-cert-con54-cpp'
  - '-cert-ctr56-cpp'
  - '-cert-dcl03-c'
  - '-cert-dcl16-c'
  - '-cert-dcl37-c'
  - '-cert-dcl50-cpp'
  - '-cert-dcl51-cpp'
  - '-cert-dcl54-cpp'
  - '-cert-dcl58-cpp'
  - '-cert-dcl59-cpp'
  - '-cert-env33-c'
  - '-cert-err09-cpp'
  - '-cert-err34-c'
  - '-cert-err52-cpp'
  - '-cert-err58-cpp'
  - '-cert-err60-cpp'
  - '-cert-err61-cpp'
  - '-cert-exp42-c'
  - '-cert-fio38-c'
  - '-cert-flp30-c'
  - '-cert-flp37-c'
  - '-cert-int09-c'
  - '-cert-mem57-cpp'
  - '-cert-msc24-c'
  - '-cert-msc30-c'
  - '-cert-msc32-c'
  - '-cert-msc33-c'
  - '-cert-msc50-cpp'
  - '-cert-msc51-cpp'
  - '-cert-msc54-cpp'
  - '-cert-oop11-cpp'
  - '-cert-oop54-cpp'
  - '-cert-oop57-cpp'
  - '-cert-oop58-cpp'
  - '-cert-pos44-c'
  - '-cert-pos47-c'
  - '-cert-sig30-c'
  - '-cert-str34-c'
  - '-cppcoreguidelines-avoid-c-arrays'
  - '-cppcoreguidelines-avoid-magic-numbers'
  - '-cppcoreguidelines-c-copy-assignment-signature'
  - '-cppcoreguidelines-explicit-virtual-functions'
  - '-cppcoreguidelines-macro-to-enum'
  - '-cppcoreguidelines-narrowing-conversions'
  - '-cppcoreguidelines-noexcept-destructor'
  - '-cppcoreguidelines-noexcept-move-operations'
  - '-cppcoreguidelines-noexcept-swap'
  - '-cppcoreguidelines-non-private-member-variables-in-classes'
  - '-cppcoreguidelines-use-default-member-init'
  - '-fuchsia-header-anon-namespaces'
  - '-fuchsia-multiple-inheritance'
  - '-google-readability-braces-around-statements'
  - '-google-readability-casting'
  - '-google-readability-function-size'
  - '-google-readability-namespace-comments'
  - '-hicpp-avoid-c-arrays'
  - '-hicpp-avoid-goto'
  - '-hicpp-braces-around-statements'
  - '-hicpp-deprecated-headers'
  - '-hicpp-explicit-conversions'
  - '-hicpp-function-size'
  - '-hicpp-invalid-access-moved'
  - '-hicpp-member-init'
  - '-hicpp-move-const-arg'
  - '-hicpp-named-parameter'
  - '-hicpp-new-delete-operators'
  - '-hicpp-no-array-decay'
  - '-hicpp-no-malloc'
  - '-hicpp-noexcept-move'
  - '-hicpp-special-member-functions'
  - '-hicpp-static-assert'
  - '-hicpp-undelegated-constructor'
  - '-hicpp-uppercase-literal-suffix'
  - '-hicpp-use-auto'
  - '-hicpp-use-emplace'
  - '-hicpp-use-equals-default'
  - '-hicpp-use-equals-delete'
  - '-hicpp-use-noexcept'
  - '-hicpp-use-nullptr'
  - '-hicpp-use-override'
  - '-hicpp-vararg'
  - '-llvm-else-after-return'
  - '-llvm-qualified-auto'

CheckOptions:
  misc-const-correctness.AnalyzeValues: true
  cppcoreguidelines-avoid-non-const-global-variables.AllowInternalLinkage: true
  readability-uppercase-literal-suffix.NewSuffixes: u;l;ul;lu;ll;ull;llu;z;uz;zu;f
  readability-identifier-naming.ClassCase: 'CamelCase'
  readability-identifier-naming.StructCase: 'CamelCase'
  readability-identifier-naming.NamespaceCase: 'CamelCase'
  readability-identifier-naming.EnumCase: 'CamelCase'
  readability-identifier-naming.FunctionCase: 'camelBack'
  readability-identifier-naming.VariableCase: 'camelBack'
  readability-identifier-naming.MemberCase: 'camelBack'
  readability-identifier-naming.ConstexprVariableCase: 'UPPER_CASE'
  readability-identifier-naming.EnumConstantCase: 'UPPER_CASE'
  readability-identifier-naming.MacroDefinitionCase: 'UPPER_CASE'
...
